<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{{- $title := printf "%s | %s" .Title .Site.Title -}}
{{- if .IsHome -}}
  {{- $title = .Site.Title -}}
{{- end -}}

<title itemprop="name">{{ $title }}</title>
<meta property="og:title" content="{{ $title }}" />
<meta name="twitter:title" content="{{ $title }}" />
<meta itemprop="name" content="{{ $title }}" />
<meta name="application-name" content="{{ $title }}" />
<meta property="og:site_name" content="{{ .Site.Params.sitename | default .Site.Title }}" />

{{- $description := partial "meta/description.html" . -}}

<meta name="description" content="{{ $description }}">
<meta itemprop="description" content="{{ $description }}" />
<meta property="og:description" content="{{ $description }}" />
<meta name="twitter:description" content="{{ $description }}" />

{{- $ogLocale := replace (.Site.LanguageCode | default "en-us") "-" "_" -}}
<meta property="og:locale" content="{{ $ogLocale }}" />
<meta name="language" content="{{ .Site.LanguageCode }}" />
<meta property="og:type" content="{{ if and .IsPage (eq .Section "posts") }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
{{ with .Site.Params.x }}<meta name="twitter:site" content="{{ . }}" />{{ end }}
{{ with .Site.Params.x }}<meta name="twitter:creator" content="{{ . }}" />{{ end }}
{{ range .AllTranslations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}" />
{{ end }}

{{- with partial "meta/image.html" . }}
<meta itemprop="image" content="{{ .url }}">
<meta property="og:image" content="{{ .url }}">
{{ with .width }}<meta property="og:image:width" content="{{ . }}">{{ end }}
{{ with .height }}<meta property="og:image:height" content="{{ . }}">{{ end }}
<meta property="og:image:alt" content="{{ .alt }}">
<meta name="twitter:image:alt" content="{{ .alt }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ .url }}">
{{- else }}
<meta name="twitter:card" content="summary">
{{- end }}
