{{- define "main" -}}
<div class="wrapper list-page">
    <header class="header">
        <h1 class="header-title center">{{ .Title }}</h1>
    </header>
    <main class="page-content" aria-label="Content">
        <ul class="terms-list">
            {{ range .Data.Terms.Alphabetical }}
            <li class="terms-item">
                <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
                <span class="terms-count">({{ .Count }})</span>
            </li>
            {{ end }}
        </ul>
    </main>
</div>
{{- end -}}
