{{- if or .IsHome (eq .Kind "404") -}}
  {{- $search := resources.Get "js/search.js" | minify | fingerprint -}}
  {{- $fuse := resources.Get "js/vendor/fuse-7.1.0.min.js" | fingerprint -}}
<script src="{{ $search.RelPermalink }}" integrity="{{ $search.Data.Integrity }}" data-fuse-url="{{ $fuse.RelPermalink }}" data-index-url="{{ "index.json" | relURL }}" defer></script>
{{- else if and .IsPage (eq .Section "posts") -}}
  {{- $back := resources.Get "js/search-back.js" | minify | fingerprint -}}
<script src="{{ $back.RelPermalink }}" integrity="{{ $back.Data.Integrity }}" defer></script>
{{- end -}}
